html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Julius Sans One', sans-serif;
}

h1 {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-weight: bolder;
	font-size: 100px;
	text-shadow: 2px 2px darkgrey;
	display: block;
	padding-top: 200px;
}
p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding: 3%;
}

nav a:hover {
	font-weight: bolder;
	background: -webkit-linear-gradient(rgb(245, 153, 242), rgb(132, 213, 233));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-radius: 8px;
}

html span {
	color: white;
	font-weight: bolder;
	background: -webkit-linear-gradient(rgb(245, 153, 242), rgb(132, 213, 233));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 30px;
	font-family: 'Julius Sans One', sans-serif;
}
.title {
	background-image: url(./images/pic2.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 100%;
}

html h5 {
	font-weight: bolder;
	background: -webkit-linear-gradient(rgb(245, 153, 242), rgb(132, 213, 233));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Julius Sans One', sans-serif;
}

.bcard {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	margin-top: 1%;
}
h3 {
	color: white;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
}

h2 {
	display: inline-block;
}
.fa-envelope {
	font-size: 30px;
	margin: 1%;
	color: white;
}
.fa-linkedin {
	font-size: 30px;
	color: white;
	margin: 1%;
}
#right {
	margin: 1%;
}
.right {
	right: 0%;
	margin-right: 1%;
}
html .nav-link {
	color: white;
}

a {
	font-family: 'Julius Sans One', sans-serif;
	color: white;
}
nav {
	background-color: black;
}
html .btn-primary {
	background-color: black;
	border-color: black;
}
.contactContainer {
	display: flex;
	justify-content: space-evenly;
}
.about {
	background-color: black;
}
.technologies {
	background-color: black;
}
.technologiesDescription {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}
.projects {
	background-color: black;
}

footer {
	background-color: black;
	display: flex;
	justify-content: right;
}
p .footer {
	color: white;
	text-align: right;
}
h6 {
	text-align: right;
	display: inline-block;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
}
.fa-github-square {
	color: white;
	font-size: 30px;
}
.btn-primary:hover {
	background: black;
	background: -webkit-linear-gradient(rgb(245, 153, 242), rgb(132, 213, 233));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
html .card {
	margin-bottom: 1%;
}
h2 {
	font-family: 'Julius Sans One', sans-serif;
}
li {
	font-family: 'Raleway', sans-serif;
}
.center {
	margin-top: 1%;
}
.fa-medium {
	color: white;
	font-size: 30px;
}
.fa-medium:hover {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-github-square:hover {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-linkedin:hover {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-envelope:hover {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#footerText {
	text-align: right;
}
